<!DOCTYPE html>
<html>
<head>
  <div>
    <h1>A Simple To-Do App</h1>
    <p>Add things you want to do.<p>
  </div>
</head>

<body>
<link href="/styles.css" rel="stylesheet" type="text/css">
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="public/scripts.js"></script>
  <div>
    <div>
      <form action="/" method="POST">
      <input type="text" placeholder="Enter items" name="todos">
      <button type="submit">Add</button>
      </form>
    </div>
    <div>
      <ul>
        <% for(var i=0; i<result.length; i++) { %>
          <li>
            <div><input type="checkbox"/>
              <%= result[i].task %>
            </div>
            <div id="update">
              <form action="/update/:task" method="POST">
                <input type="text" placeholder="Enter items" name="updatedTodos">
                <button type="submit">
                  Update
                </button>
              </form>
            </div>
            <div id="edit"><a href="/edit/<%=result[i].task%>"><button>Edit</button></a> 
            <a href="/delete/<%=result[i].task%>"><button id="edit" value="Edit Data">Delete</button></a></div>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
<script src =""
<script src="public/scripts.js"></script>
</body>
</html>