li {
  cursor: pointer;
  border: 2px solid  #000 ;
  background: #fff;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

h1 {
  font-style: italic;
}
/*
#edit{
 display: true;
}

#update{
  display: true;
}

#hidden{
  display: none;
}

#shown{
  display: true;
}

.task{
    text-decoration: line-through;
    font-style: italic;*/
